@use '../abstract/variables' as *;

body {
  background-color: hsl(249, 18%, 14%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: grid;

  grid-template-columns: minmax(3%, 1fr) 2fr minmax(3%, 1fr);
  grid-template-rows: 2fr 2fr 1fr;
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
}

header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
