$primary-color-gray: hsl(237, 18%, 59%);
$primary-color-red: hsl(345, 95%, 68%);

$neutral-color-white: hsl(0, 0%, 100%);
$neutral-color-blue: hsl(236, 21%, 26%);
$neutral-color-dark-blue: hsl(235, 16%, 14%);
$neutral-color-mostly-blue: hsl(234, 17%, 12%);

$mobile-width: 375px;
$desktop-width: 1440px;

$assetsPath: "/scss/assets/images";